body {
    text-align: center;
}
#devNav * {
    margin: 1em;
}

#appDiv {
    min-width: 360px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#logoHead {
    margin: .5em;
    width: 90%;
    max-width: 33em;
}
#userMenu {
    position: absolute;
    right: 0;
    margin: .25em;
    padding: 0;
    color: black;
    font-size: 1.5em;
    background-color: rgba(198, 86, 86, 0);
    border: none;
    
}
.navBar {
    display: flex;
    justify-content: space-evenly;
}
#cartBadge {
    scale: .75;
}
.routeLink {
    color: black;
    text-decoration: none;
    margin: 0 .5em;
}
.rl:hover {
    color: black;
    text-decoration: underline;
}
.checkoutLink {
    width: 5em;
    padding: 0;
    border-radius: 3px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#contactPage {
    width: 18em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactPage p, #contactPage h4 {
    margin: 0;
}
#contactForm {
    margin-top: .5em;
    text-align: left;
}
#contactDetails {
    width: 90%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
#contactDetails label{
    margin: .08em;
}

#loginForm {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}
#loginForm label {
    margin: 5px 0;
}
#loginForm label input {
    margin: 0 5px;
}
#userPage {
    width: 80%;
    text-align:left;
    margin:auto;
}
#userEdit div {
    text-align: left;
    margin: .5em 0;
}
#userEditorBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: .75em;
}
#userEditorBottom button, .contactSubmit {
    margin: .05em;
    width: 8em;
    padding: 0;
    background-color: white;
    border-radius: 3px;
    border: 2px solid gray;
}
#userEditorBottom button:active {
    background-color: gray;
    
}
.editButtons {
    margin: .5em 0 .25em .5em;
    font-size: .75em;
    border: none;
    background-color: white;
}

.dropdown-toggle::after {
    display: none !important; 
}
#shopDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.itemCardImg {
    width: 100%;
}
.itemCard {
    width: 40%;
    max-width: 33em;
    margin: 1em;
    align-items: center;
    padding: 0;
    box-shadow: 3px 3px 4px rgba(174, 174, 174, 0.5);
    justify-content: space-between;
}
.itemCard * {
    color: black;
    text-decoration: none;
}
.itemCardBody {
    /* margin: 0; */
    text-decoration: none;
    margin: 0 .25em;
}

.addToCart{ 
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 grey;
    background-color: white;
    margin-bottom: .5em;
}
.addToCart:hover {
    scale: 1.03;
}
.addToCart:active {
    scale: 1;
    background-color: rgb(203, 203, 203);
}
#dashboardDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.dashboardAlert {
    position: absolute;
    background-color: white;
    color: black;
    height: 1.65em;
    padding: 0 .5rem;
    box-shadow: 0 0 9px 3px rgba(92, 92, 92, 0.5);
    z-index: 3;
}
.itemEdit {
    width: min(90%, 33em);
    /* max-width: 23em; */
    margin: 1em auto;
    align-items: center;
    padding: .25em;
}
.itemEdit div {
    /* width: 98%; */
    margin-right: .05em;
}
.editItemImg {
    width: 4em;  
}

.imgThumbCancel {
}
#itemInfoInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    width:100%;
}
#itemInfoInput label {
    margin: .25em 0;
}
#itemGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#itemInfo {
    margin: auto;
}
#itemImg {
    width: 90%;
    margin: .5em;
}
#thumbGallery {
    height: 5em;
    width: 93%;
    display: flex;
    justify-content: center;
}
#thumbGallery img {
    height: 3.5em;
    margin:0 .2em;
}
#addImgThumb {
    display:'flex';
    width: 40%;
}

/* CART STYLING  */
.cartDiv {
    max-width: 800px;
    margin: auto;
}
.checkoutDiv {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartSummary {
    border-top: 2px solid black;
    margin: auto;
    width: 88%;
    text-align: right;
}
.cartItem {
    width: 80%;
    height: 4em;
    margin: 1em auto;
    display: flex;
    align-items: center;
    font-size: .9em;
}
.cartItem * {
    color: black;
    text-decoration: none;
}
.cartDesc {
    text-align: right;
    height:100%;
    width: 80%;
}
.cartThumb {
    width: 25%;
}
.cartRemove {
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.cartRemove button{
    border: none;
    margin: 0 .5em;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.foot {
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 560px) {
    #appDiv {
        margin: auto;
    }
    #logoHead {
        width: min(90%, 33em);
    }
    .navBar {
        margin: auto;
        width: min(90%, 33em);
    }
    #shopDiv {
        width: 100%;
    }
    #itemCard {
        width: 45%;
    }
    #thumbGallery img {
        height: 91%;
        margin: 0 .25em 0 0;
    }
    #thumbGallery {
        width: 26em;
    }
    #itemImg {
        width: min(90%, 33em)
    }
    .cartItem {
        margin: 4em auto;
    }
    .cartThumb {
        width: 17%;
        border-radius: 0;
    }
    #itemInfo {
        width: min(90%, 40em);
    }
}
